#navbar {
    overflow: hidden;
}

#navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    background-color: 685454#;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}