.introBody {
    display: flex;
    margin: 20% 0 5% 15%;
}

.grow {
    display: inline-block;
    transition: transform 0.8s ease;
    transform-origin: left;
}

.grow:hover {
    transform: scale(1.1);
}